<% include ../partials/header %>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Drink iQ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Drinks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container mt-5">
        <% if(!drink) { %>
        <h2>Nothing Here</h2>
        <% } %>
        <% if(drink) { %>
        <div class="col-md-6 m-auto">
            <div class="row d-block">
                <p><%= drink.name %></p>
                <p><%= drink.description %></p>
                <% if(drink.ingredients) { %>
                    <ul>
                    <% drink.ingredients.forEach(ingredient => { %>
                        <!-- <li><%= ingredient.id %></li> -->
                        <li><%= ingredient.name %> - <%= ingredient.amt %> <%= ingredient.postscript %></li>
                    <% }); %>
                    </ul>
                <% } %>
                <p><%= drink.notes %></p>
                <a href="/api/<%= drink._id %>/edit" class="btn btn-success">Edit</a>
                <form action="/api/<%= drink._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div id="img-container">
                <img src="<%= drink.image %>" alt="picture of cocktail">
            </div>
        </div>
        <% } %>
    </div>

    <div class="container">
        <div id="button-js">
            <button id="js-btn" class="btn btn-primary">+</button>
        </div>
        <div id="add-stuff"></div>
    </div>


<% include ../partials/footer %>